# Ignore node modules everywhere
node_modules/

# Ignore environment variables
.env

# Ignore all images in backend/images
backend/images/

# Optional: other temporary or system files
npm-debug.log
.DS_Store
